@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


body{
    margin:0;
    font-size:16px;
    background-image: url("../img/2.jpg");
    background-position: center; 
    background-size: 100% 100%;
    height: 94vh;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    outline:none;
}
.custom-box{
    max-width:700px;
    /*background-color: rgba(025, 33, 45,0.4);*/
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    margin:40px auto;
    padding:30px;
    border-radius:10px;
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight{
    0%{
        transform:translateX(40px);
    }
    100%{
        transform:translateX(20px);
    }
}
.custom-box::before,
.custom-box::after{
    content: '';
    clear:both;
    display: table;
}
.custom-box.hide{
    display: none;
}
.nextquest{
    animation:slideInLeft 0.3s ease forwards;
}
.nextquest.hide{
    display:none;
}
.home-box h3{
    font-size:18px;
    color: #000000;
    font-weight:500;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-box p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height:22px;
    color:#000000;
}
.home-box p span{
    font-weight: 500;
}
.btn {
    padding: 15px 45px;
    background-color: #009688;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: initial-block;
}
.nextquest{
    background:transparent;
    border:2px solid #009688;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width:100%;
    float: left;

}
.quiz-box .question-number {
    font-size: 18px;
    columns: #009688;
    font-weight:600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;

}
.quiz-box .question-text{
    font-size:22px;
    font-weight: 500;
    color:#000000;
    line-height:28px;
    
    padding:20px 0;
    margin:0;
}

.quiz-box .option-container .option{
    border: 2px solid rgba(75,5,202,0.7);
    background-color: rgba(0,85,195,0.2);
    padding:15px;
    font-size:16px;
    font-weight: 600;
    line-height: 22px;
    color:#000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0;
    animation:fadeIn 0.3s ease forwards;
    position:relative;
    overflow:hidden;
    text-align: center;
}
.quiz-box .option-container .option.already-answered{
    pointer-events:none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.quiz-box .btn{
    margin:15px;
}
.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div{
    height:40px;
    width:40px;
    display: inline-block;
    background:transparent;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;

}
.quiz-box .answers-indicator div.correct{
    border: 2px solid rgba(0,190,5,0.9);
    background-color: rgba(0,195,95,0.5);
    background-image: url("../img/c2.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    animation:fadeIn .6s ease forwards;
}
.quiz-box .answers-indicator div.wrong{
    border: 2px solid rgba(200,5,5,0.9);
    background-color: rgba(240,5,5,0.5);
    background-image: url("../img/w2.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    animation:fadeIn .6s ease forwards;
}

.result-box{
    text-align: center;
}
.result-box.hide{
    display: none;
}
.result-box h1{
    font-size:36px;
    line-height:42px;
    columns: #009688;
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin:30px 0;
}
.result-box table td{
    border:1px solid #cccccc;
    padding:8px 15px;
    font-weight:500;
    color:#000000;
    width:50%;
    text-align-last: left;
    font-size:18px;
}
.quiz-box .option-container .option.correct::before{
    content:'';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width:100%;
    background-image:linear-gradient(rgba(000,150,135,0.1), rgba(100,150,135,0.2)), url(../img/m2.jpg); 
    z-index: -1;
    animation:slideInRight .3s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%)
    }100%{
        transform: translateX(0%)
    }

}
@keyframes slideInRight{
    0%{
        transform: translateX(0%)
    }100%{
        transform: translateX(-100%)
    }

}
.quiz-box .option-container .option.wrong::before{
    content:'';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width:100%;
    background-image:linear-gradient(rgba(200,5,5,0.3), rgba(240,5,5,0.9)), url(../img/f2.jpg); 
    z-index: -1;
    animation:slideInLeft .5s ease forwards;
}
.quiz-box .option-container .option.wrong{
    color: #ffffff;
    
}
.quiz-box .option-container .option.correct{
    color:#ffffff;
    
    background-image:linear-gradient(rgba(000,150,135,0.1), rgba(100,150,135,0.2)), url(../img/m2.jpg); 
    
}
.result-box .btn{
    margin-right:20px;

}

@media(max-width: 767px){
    .result-box .btn{
        margin-bottom:15px;

    }
}





